<% ejemplos = %w[Prueba Hola Botella] %>
<h1>Bienvenido a la primera p&aacute;gina</h1>

<p>Para ir al formulario, hacer clic <a href="/ask">aqu&iacute;</a></p>
<p>Para ir a la p&aacute;gina de respuesta con la palabra del d&iacute;a <a href="/answer?pregunta=<%= ejemplos.sample %>"> cliqu&eacute;ame</a>